{% extends 'admin-base.html.twig' %}

{% block title %}Job4u Admin Userlist{% endblock %}

{% block breadcrumb %}
	<!-- Breadcrumbs-->
       <ol class="breadcrumb">
         <li class="breadcrumb-item">
           <a href="/admin">Dashboard</a>
         </li>
         <li class="breadcrumb-item">posts</li>
         <li class="breadcrumb-item active">list</li>
       </ol>
{% endblock %}

{% block body %}
<!-- DataTables Example -->
<div class="card mb-3">
	<div class="card-header">
    	<i class="fas fa-table"></i>Data Table Example
	</div>
    <div class="card-body">
      <div class="table-responsive">
	        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	          <thead>
	            <tr>
	              <th>Title</th>
	              <th>Category</th>
	              <th>Content</th>
	              <th>From</th>
	              <th>Created at</th>
	              <th>Modify</th>
	              <th>Delete</th>
	            </tr>
	          </thead>
	          <tbody>
	            {% for post in postList %}
	            <tr>
	              <td>{{ post.getTitle() }}</td>
	              <td>{{ post.getCategory() }}</td>
	              <td>{{ post.getContent() }}</td>
	              <td>{{ post.getUser().getUsername() }}</td>
	              <td>{{ post.getCreatedAt()|date('Y-m-d H:i:s') }}</td>
	              <td><a href="/admin/post/modify/{{ post.getId() }}" class="btn btn-info"><i class="fas fa-address-book"></i></a></td>
	              <td><a href="/admin/post/delete/{{ post.getId() }}" class="btn btn-danger"><i class="fas fa-user-times"></i></a></td>              
	            </tr>
	            {% endfor %}
	          </tbody>
			</table>
		</div>
	</div>
	<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}