{% extends 'base.html.twig' %}

{% block body %}
<div class="py-5 text-center" style="background-image: url('/img/bg_job4u.jpg'); background-size: contain; background-repeat: repeat; " >

    <div class="container bg-light rounded p-2 col-11 col-md-5" >
    	<div class="row">
    		<div class="col-md-12 col-12">
        	<h4 class="bg-secondary p-2 text-white"><i class="fas fa-pen-square"></i> Share information / Job offers / Job posts</h4>
          	{{ form(postForm) }}
      		</div>
      	</div>
  	</div>

	<div class="container rounded p-2 col-11 col-md-6 mt-5">
    	<div class="row">
    		<div class="row d-flex flex-row justify-content-center">
        {% for post in postList %}
          <div class="card m-2 text-center">
            <div class="card-body bg-light">
              <div class="row d-flex align-items-center flex-row ">
                <div class="col-2 col-md-2"><img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg" alt="user profile picture"></div>
                <div class="col-5 col-md-5">
                  <p vlass="font-weight-bold" style="font-size:2rem">{{ post.getUser().getUsername() }}</p>
                </div>
                <div class="col-5 col-md-5">
                  <p class="badge badge-secondary text-capitalize font-weight-bold" style="font-size:2rem">{{ post.getCategory() }}</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-12">
                  <h5 class="text-center">{{ post.getTitle() }}</h5>
                  <p class="">{{ post.getContent() }}</p>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">{{ post.getCreatedAt()|date('Y-m-d H:i:s') }}</div>
          </div>
        {% endfor %}
    		</div>
		</div>
 	</div>
</div>
{% endblock %}