{% extends 'base.html.twig' %}

{% block body %}
<div class="py-5 text-center" style="background-image: url('/img/bg_job4u.jpg'); background-size: cover;" >

{#
<div class="container" >
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex flex-row justify-content-center align-items-center bg-light ml-2 mb-4 mr-2">
        <div class="col-md-2 col-2 p-2">
        	<img class="img-fluid d-block rounded-circle mx-auto" src="https://static.pingendo.com/img-placeholder-3.svg">
    	</div>
        <div class="col-8 col-md-8">
              <textarea class="container-fluid form-control m-0 p-0" rowid="comment" rows="4" id="textarea"></textarea>
        </div>
        <div class="col-2 col-md-2">
          <h3 class="display-4 text-secondary" contenteditable="true"><i class="fas fa-paperclip"></i></h3>
        </div>
      </div>
    </div>
  </div>
#}  

<div class="container bg-light rounded p-2" >
	<h3>Create a post:</h3>
  	{{ form(postForm) }}
  </div>
</div>
    
<div class="container">
    {% for post in postList %}
      <div class="card m-2 text-center">
        <div class="card-body bg-light">
          <div class="row d-flex align-items-center flex-row">
            <div class="col-2 col-md-2" style=""><img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"></div>
            <div class="col-5 col-md-5" style="">
              <p contenteditable="true" style="">{{ post.getUser().getUsername() }}</p>
            </div>
            <div class="col-5 col-md-5" style="">
              <p class="">{{ post.getCategory() }}</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-12" style="">
              <h5 class="text-center">{{ post.getTitle() }}</h5>
              <p class="">{{ post.getContent() }}</p>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">{{ post.getCreatedAt()|date('Y-m-d H:i:s') }}</div>
      </div>
    {% endfor %} 
</div>
{% endblock %}