{% extends 'admin-base.html.twig' %}

{% block title %}Job4u Admin create User{% endblock %}

{% block breadcrumb %}
	<!-- Breadcrumbs-->
       <ol class="breadcrumb">
         <li class="breadcrumb-item">
           <a href="/admin">Dashboard</a>
         </li>
         <li class="breadcrumb-item">users</li>
         <li class="breadcrumb-item active">create</li>
       </ol>
{% endblock %}

{% block body %}
	<h1>Create new User:</h1>
	{{ form_start(userForm) }}
		{{ form_row(userForm.fullname) }}
		{{ form_row(userForm.email) }}
		{{ form_row(userForm.username) }}
		{{ form_row(userForm.password) }}

		<div class="form-group">
			<label for="role_select">Roles:</label>
			<select id="role_select" class="form-control" name="roles">
				{% for role in roles %}
					<option>{{ role.getLabel() }}</option>
				{% endfor %}
			</select>
		</div>
	{{ form_end(userForm) }}
	{#{{ form(userForm) }}#}
{% endblock %}